@import url("https://fonts.googleapis.com/css2?family=Lobster&family=RocknRoll+One&display=swap");

header {
  font-family: "Lobster", cursive;
}
nav li {
  display: inline;
}

nav li .link {
  color: antiquewhite;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav li .link:hover {
  background-color: #111;
}
nav ul {
  list-style-type: none;
  padding: 15px;
  overflow: hidden;
  background-color: rgb(161, 12, 12);
}
